[MESSAGES CONTROL]

disable =
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    arguments-differ,
    attribute-defined-outside-init,
    broad-except,
    consider-iterating-dictionary,
    consider-merging-isinstance,
    consider-using-dict-comprehension,
    consider-using-in,
    consider-using-set-comprehension,
    dangerous-default-value,
    duplicate-code,
    fixme,
    global-statement,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-self-use,
    no-value-for-parameter,
    protected-access,
    raise-missing-from,
    redefined-argument-from-local,
    redefined-builtin,
    redefined-outer-name,
    super-init-not-called,
    super-with-arguments,
    superfluous-parens,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-statements,
    unidiomatic-typecheck,
    unnecessary-comprehension,
    unnecessary-pass,
    unsubscriptable-object,
    unused-argument,
    unused-variable,
    useless-object-inheritance,
    useless-super-delegation,
    wrong-import-order,
    wrong-import-position

[REPORTS]
output-format = colorized
