# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr!=2.1.0,>=2.0.0 # Apache-2.0
GitPython>=1.0.1 # BSD License (3 clause)
python-heatclient>=1.10.0 # Apache-2.0
oslo.config>=5.2.0 # Apache-2.0
oslo.log>=3.36.0 # Apache-2.0
oslo.utils>=3.33.0 # Apache-2.0
python-ironicclient!=2.5.2,!=2.7.1,!=3.0.0,>=2.3.0 # Apache-2.0
oslo.concurrency>=3.26.0 # Apache-2.0
Jinja2>=2.10 # BSD License (3 clause)
passlib>=1.7.0 # BSD
cryptography>=3.4.7 # BSD/Apache-2.0
tenacity>=6.1.0 # Apache-2.0
metalsmith>=0.13.0 # Apache-2.0
requests>=2.18.0,!=2.20.0  # Apache-2.0
PyYAML>=3.12 # MIT
