{{ role }}_pre_deployments:
{% for deployment in pre_deployments %}
  - {{ deployment }}
{% endfor %}

# Temporary duplication
# https://bugs.launchpad.net/tripleo/+bug/1842141
pre_deployments_{{ role }}: {% if not pre_deployments %} [] {% endif %}

{% for deployment in pre_deployments %}
  - {{ deployment }}
{% endfor %}

{{ role }}_post_deployments: {% if not post_deployments %} [] {% endif %}

{% for deployment in post_deployments %}
  - {{ deployment }}
{% endfor %}

post_deployments_{{ role }}: {% if not post_deployments %} [] {% endif %}

{% for deployment in post_deployments %}
  - {{ deployment }}
{% endfor %}
